#content .container {
  display: block;
  max-width: 1000px;
}

#content .pageTitle {
  text-align: center;
  margin-top: 0;
  font-size: 28px;
}

@media (min-width: 768px) {
  #content .pageTitle {
    font-size: 36px;
  }
}

#content .textBackground {
  margin: 0 0 50px 0;
  padding: 15px;
  opacity: 0;
  background-color: var(--backgroundLightAccent);
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  animation: fadeIn 500ms forwards;
  animation-delay: 300ms;
  overflow: hidden;
}

@media (min-width: 768px) {
  #content .textBackground {
    padding: 15px 30px;
  }
}

#content .textArea {
  opacity: 0;
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

#content .textArea h2 {
  font-size: 1.4em;
  margin-top: 40px;
}

#content .textArea h2:first-of-type {
  margin-top: 20px;
}

#content .textArea h3 {
  margin: 20px 0;
  font-size: 1em;
}

#content .textArea h2, #content .textArea h2 a, #content .textArea h3, #content .textArea h3 a {
  color: var(--mainOrange);
}

#content .textArea h4 {
  margin-bottom: 20px;
}

#content .textArea blockquote {
  border-left: 3px solid var(--backgroundDarkAccent);
  margin-left: 0;
  padding: 1px 0 1px 15px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 20px;
}

#content .textArea blockquote p {
  margin: 5px 0;
}

#content .textArea blockquote p::before {
  content: open-quote;
}

#content .textArea blockquote p::after {
  content: close-quote;
}

#content .textArea ul {
  margin: 10px 0 30px 0;
}

#content .textArea ul ul {
  margin-bottom: 10px;
}

#content .textArea ul, #content .textArea ol {
  padding-left: 30px;
}

#content .textArea ul li, #content .textArea ol li {
  padding-left: 5px;
  margin-bottom: 5px;
}

#content .textArea pre {
  padding: 15px;
  background-color: var(--backgroundColor);
  border-radius: 5px;
  font-size: 14px;
  overflow-x: auto;
}

#content a {
  color: var(--linkColor);
}

#content a:hover {
  text-decoration: underline;
}

#content .guideNote {
	font-style: italic;
	color: #dd1;
}

#content .guideNoteBold {
  font-style: italic;
  font-weight: bold;
  color: #dd1;
}