main.Home {
  margin-top: 0;
}

.splashContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.splashContainer::after {
  content: "";
  position: absolute;
  right:0;bottom:0;left:0;
  height: 3px;
  background-color: rgba(30,39,50,0.7);
}

.splashImage {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-size: cover;
  background-position: center;
}

.splashVideo {
  display: none;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
}

@media (min-width: 768px) {
  .splashVideo {
    display: block;
  }
}

.splashVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splashOverlay {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-color: rgba(0,0,0,0.5);
}

.splashText {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: var(--titleFont);
  font-size: 28px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .splashText {
    font-size: 32px;
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .splashText {
    font-size: 42px;
  }
}

.splashText .inner {
  padding: 30px;
  opacity: 0;
  background-color: rgba(0,0,0,0.7);
  animation: fadeIn 300ms forwards;
  animation-delay: 500ms;
}

@media (min-width: 768px) {
  .splashText .inner {
    padding: 50px;
    max-width: 600px;
  }
}

.splashText .inner span {
  display: block;
  opacity: 0;
  animation: slideIn 500ms forwards;
  animation-delay: 700ms;
}

.splashText .inner span.quote {
  margin-bottom: 10px;
  font-weight: 700;
}

.splashText .inner span.author {
  color: var(--mainOrange);
  animation-delay: 900ms;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.splashButton {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 210px;
  opacity: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--mainFont);
  padding: 10px 15px;
  border: 2px solid #fff;
  font-weight: 700;
  transition: all 200ms;
  animation: slideIn 500ms forwards;
  animation-delay: 1100ms;
}

@media (min-width: 768px) {
	.buttonCont {
	  display: flex !important;
	  flex-direction: row;
	}
	.splashButtonFirst {
		margin-right: 10px;
	}
}

@media (max-width: 767px) {
	.splashButtonFirst {
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) {
  .splashButton {
    font-size: 18px;
  }
}

.splashButton:hover {
  color: #fff;
  border-color: var(--mainOrange);
}

.splashButton::before {
  content: "";
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-color: var(--mainOrange);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.splashButton:hover::before {
  transform: scaleX(1);
}

.splashButton svg {
  position: relative;
  fill: #fff;
  width: 20px;
  margin-top: 2px;
  margin-left: 10px;
}

.featureList {
  position: relative;
  padding: 50px 10px;
}

@media (min-width: 900px) {
  .featureList {
    padding: 100px 10px;
  }
}

.featureList::after {
  content: "";
  position: absolute;
  right:0;bottom:0;left:0;
  height: 3px;
  background-color: rgba(30,39,50,0.7);
}

.featureList .container {
  display: block;
}

@media (min-width: 900px) {
  .featureList .container {
    display: flex;
  }
}

.featureList .column {
  margin: 20px 10px;
  padding: 30px 30px 40px 30px;
  background-color: var(--backgroundAccent);
}

@media (min-width: 900px) {
  .featureList .column {
    margin: 0 10px;
  }
}

.featureList .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.featureList .icon {
  width: 50px;
  margin-right: 15px;
}

.featureList .icon svg {
  opacity: 0;
}

.featureList .icon svg.framerate {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
}

.featureList .icon svg.enhancements {
  stroke-dasharray: 5;
  stroke-dashoffset: 5;
}

.featureList .icon svg.randomizer {
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
}

.featureList .isVisible .icon svg {
  animation: svgStrokeAppear 2s forwards;
}

.featureList h1 {
  margin: 0;
  font-size: 21px;
}

.featureList h1, .featureList span {
  opacity: 0;
}

.featureList .isVisible h1 {
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

.featureList .isVisible span {
  animation: slideIn 500ms forwards;
  animation-delay: 700ms;
}

.featureList span {
  display: block;
}

.featureList .supportedPlatforms .column {
  background-color: transparent;
  margin-top: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 550px) {
  .featureList .supportedPlatforms .column {
    display: flex;
    align-items: center;
  }
}

.featureList .supportedPlatforms h2 {
  opacity: 1;
  margin: 0 20px 20px 0;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--textColor);
}

@media (min-width: 550px) {
  .featureList .supportedPlatforms h2 {
    margin: 0 20px 0 0;
  }
}

.featureList .supportedPlatforms .logos {
  height: 25px;
}

.featureList .supportedPlatforms .logos svg {
  height: 25px;
  margin-right: 20px;
  fill: var(--textColor);
}

.featureSummary {
  position: relative;
  background-color: var(--backgroundDarkAccent);
  padding: 70px 0;
}

@media (min-width: 768px) {
  .featureSummary {
    padding: 0;
  }
}

.featureSummary::after {
  content: "";
  position: absolute;
  right:0;bottom:0;left:0;
  height: 3px;
  background-color: rgba(30,39,50,0.7);
}

@media (min-width: 768px) {
  .featureSummary .column.left {
    display: flex;
    justify-content: right;
  }
}

.featureSummary .text {
  padding: 0 0 20px 0;
}

@media (min-width: 768px) {
  .featureSummary .text {
    max-width: 450px;
    padding: 125px 50px 125px 0;
  }
}

.featureSummary .elementOnScroll {
  opacity: 0;
}

.featureSummary .elementOnScroll.isVisible {
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

@media (min-width: 768px) {
  .featureSummary .column.right .elementOnScroll {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    transform: none;
  }
}

.featureSummary .column.right .elementOnScroll.isVisible {
  animation: fadeIn 500ms forwards;
  animation-delay: 1s;
}

.featureSummary .text h1 {
  margin-top: 0;
}

.featureSummary .backgroundImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .featureSummary .backgroundImage {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    height: auto;
  }
}

.direct {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 70px 0;
}

@media (min-width: 768px) {
  .direct {
    padding: 100px 0;
  }
}

.direct .elementOnScroll {
  opacity: 0;
}

.direct .isVisible {
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

.direct h1 {
  margin: 0 0 50px 0;
  text-align: center;
}
