@import url('fonts.css');

:root {
  --mainOrange: #eb802b;
  --backgroundColor: #0e1318;
  --backgroundAccent: #171e27;
  --backgroundLightAccent: #1e2732;
  --backgroundDarkAccent: #0d1014;
  --textColor: #dadada;
  --mainFont: "Open Sans", sans-serif;
  --titleFont: "Righteous", sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes svgStrokeAppear {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { stroke-dashoffset: 0; opacity: 1; }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--mainFont);
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--titleFont);
}

h2, h3, h4, h5, h6 {
  font-family: var(--mainFont);
}

h1 {
  color: var(--mainOrange);
  text-transform: uppercase;
}

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container.fullWidth {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }
}

.column {
  position: relative;
  flex: 1;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .column {
    padding: 0 30px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--backgroundAccent);
  z-index: 100;
  box-shadow: 0 0 15px 0 #00000080;
  transition: background-color 300ms;
}

#header .container {
  display: flex;
}

@media (min-width: 768px) {
  #header.transparent {
    background-color: transparent;
    box-shadow: none;
  }
}


#header .logo {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 160px;
  padding: 15px 0 10px 0;
}

@media (min-width: 768px) {
  #header .logo {
    padding: 5px 0 0 0;
  }
}

#header .logo a {
  flex: 1;
}

#header .column.left {
  flex: 0 0 200px;
}

.menu {
  font-family: var(--mainFont);
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.menuOverlay {
  position: fixed;
  top:0;right:0;bottom:0;left:0;
  background-color: rgba(0,0,0,0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
}

.menu.open .menuOverlay {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 768px) {
  #header .menu .menuOverlay {
    opacity: 0;
    pointer-events: none;
  }
}

.hamburger {
  position: relative;
  padding: 10px;
  height: 45px;
  cursor: pointer;
  z-index: 10;
}

.hamburger div {
  height: 3px;
  width: 30px;
  background-color: #fff;
  transition: all 500ms;
}

.hamburger .lettuce {
  margin-bottom: 7px;
}

.hamburger .burger {
  margin-bottom: 7px;
}

.menu.open .hamburger .lettuce {
  transform: translate(0, 10px) rotateZ(-45deg);
}

.menu.open .hamburger .burger {
  transform: rotateZ(-45deg);
}

.menu.open .hamburger .bun {
  transform: translate(0, -10px) rotateZ(45deg);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.menuList {
  display: block;
  position: fixed;
  top:0;right:0;bottom:0;
  width: 300px;
  max-width: 80%;
  padding: 20px;
  background-color: var(--backgroundLightAccent);
  transform: translateX(100%);
  transition: 300ms transform;
}

.menu.open .menuList {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .menuList {
    display: flex;
    position: relative;
    align-items: center;
    background-color: transparent;
    width: auto;
    max-width: 100%;
    transform: none;
    transition: none;
    padding: 0;
  }
}

.menuList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuList ul li {
  display: block;
}

@media (min-width: 768px) {
  .menuList ul li {
    display: inline-block;
  }
}

.menuList ul li a {
  position: relative;
  display: block;
  padding: 10px;
  color: var(--mainOrange);
  font-weight: 700;
  font-size: 18px;
  transition: color 300ms;
}

@media (min-width: 768px) {
  .menuList ul li a {
    display: inline-block;
    padding: 30px 15px;
    font-size: 14px;
  }
}

@media (min-width: 850px) {
  .menuList ul li a {
    font-size: 16px;
  }
}

.menuList ul li a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .menuList ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    transform: scaleX(0);
    background-color: var(--mainOrange);
    transition: all 300ms;
  }
}

.menuList .socials {
  height: 22px;
  border-top: 1px solid var(--mainOrange);
  padding-top: 20px;
  margin: 10px 10px 0 10px;
}

@media (min-width: 768px) {
  .menuList .socials {
    border-top: transparent;
    border-left: 1px solid var(--mainOrange);
    padding: 0;
    margin: 0;
  }
}

.menuList .socials a {
  margin: 0 20px 0 0;
}

@media (min-width: 768px) {
  .menuList .socials a {
    margin: 0 0 0 20px;
  }
}

.menuList .socials a svg {
  height: 22px;
  fill: #fff;
  transition: fill 300ms;
}

.menuList .socials a:hover svg {
  fill: var(--mainOrange);
}

@media (min-width: 768px) {
  #header.transparent .menuList ul li a::after {
    height: 2px;
    left: 10px;
    bottom: 23px;
    right: 10px;
  }
}

.menuList ul li a:hover::after {
  transform: scaleX(1);
}

footer .container {
  margin-top: 20px;
}

footer .column {
  border-top: 1px solid var(--backgroundLightAccent);
  margin: 0 15px;
  padding: 0;
}

@media (min-width: 768px) {
  footer .column {
    margin: 0 30px;
  }
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

main {
  margin-top: 105px;
}

@media (min-width: 768px) {
  main {
    margin-top: 115px;
  }
}

main.home {
  margin-top: 0;
}

.splashContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.splashContainer::after {
  content: "";
  position: absolute;
  right:0;bottom:0;left:0;
  height: 3px;
  background-color: rgba(30,39,50,0.7);
}

.splashImage {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-size: cover;
  background-position: center;
}

.splashVideo {
  display: none;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
}

@media (min-width: 768px) {
  .splashVideo {
    display: block;
  }
}

.splashVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splashOverlay {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-color: rgba(0,0,0,0.5);
}

@media (min-width: 768px) {
  .splashOverlay {
    background-color: rgba(0,0,0,0.8);
  }
}

.splashText {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: var(--titleFont);
  font-size: 28px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .splashText {
    font-size: 32px;
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .splashText {
    font-size: 42px;
  }
}

.splashText .inner {
  padding: 30px;
  opacity: 0;
  background-color: rgba(0,0,0,0.7);
  animation: fadeIn 300ms forwards;
  animation-delay: 500ms;
}

@media (min-width: 768px) {
  .splashText .inner {
    padding: 50px;
    max-width: 600px;
  }
}

.splashText .inner span {
  display: block;
  opacity: 0;
  animation: slideIn 500ms forwards;
  animation-delay: 700ms;
}

.splashText .inner span.quote {
  margin-bottom: 10px;
  font-weight: 700;
}

.splashText .inner span.author {
  color: var(--mainOrange);
  animation-delay: 900ms;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.splashButton {
  position: relative;
  display: flex;
  align-items: center;
  width: 178px;
  opacity: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--mainFont);
  padding: 10px 15px;
  border: 2px solid #fff;
  font-weight: 700;
  transition: all 200ms;
  animation: slideIn 500ms forwards;
  animation-delay: 1100ms;
}

@media (min-width: 768px) {
  .splashButton {
    font-size: 18px;
    width: 210px;
  }
}

.splashButton:hover {
  color: #fff;
  border-color: var(--mainOrange);
}

.splashButton::before {
  content: "";
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-color: var(--mainOrange);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.splashButton:hover::before {
  transform: scaleX(1);
}

.splashButton svg {
  position: relative;
  fill: #fff;
  width: 20px;
  margin-top: 2px;
  margin-left: 10px;
}

.featureList {
  position: relative;
  padding: 50px 10px;
}

@media (min-width: 900px) {
  .featureList {
    padding: 100px 10px;
  }
}

.featureList::after {
  content: "";
  position: absolute;
  right:0;bottom:0;left:0;
  height: 3px;
  background-color: rgba(30,39,50,0.7);
}

.featureList .container {
  display: block;
}

@media (min-width: 900px) {
  .featureList .container {
    display: flex;
  }
}

.featureList .column {
  margin: 20px 10px;
  padding: 30px 30px 40px 30px;
  background-color: var(--backgroundAccent);
}

@media (min-width: 900px) {
  .featureList .column {
    margin: 0 10px;
  }
}

.featureList .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.featureList .icon {
  width: 50px;
  margin-right: 15px;
}

.featureList .icon svg {
  opacity: 0;
}

.featureList .icon svg.framerate {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
}

.featureList .icon svg.enhancements {
  stroke-dasharray: 5;
  stroke-dashoffset: 5;
}

.featureList .icon svg.randomizer {
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
}

.featureList .isVisible .icon svg {
  animation: svgStrokeAppear 2s forwards;
}

.featureList h1 {
  margin: 0;
  font-size: 21px;
}

.featureList h1, .featureList span {
  opacity: 0;
}

.featureList .isVisible h1 {
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

.featureList .isVisible span {
  animation: slideIn 500ms forwards;
  animation-delay: 700ms;
}

.featureList span {
  display: block;
}

.featureList .supportedPlatforms .column {
  background-color: transparent;
  margin-top: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 550px) {
  .featureList .supportedPlatforms .column {
    display: flex;
    align-items: center;
  }
}

.featureList .supportedPlatforms h2 {
  opacity: 1;
  margin: 0 20px 20px 0;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--textColor);
}

@media (min-width: 550px) {
  .featureList .supportedPlatforms h2 {
    margin: 0 20px 0 0;
  }
}

.featureList .supportedPlatforms .logos {
  height: 25px;
}

.featureList .supportedPlatforms .logos svg {
  height: 25px;
  margin-right: 20px;
  fill: var(--textColor);
}

.featureSummary {
  position: relative;
  background-color: var(--backgroundDarkAccent);
  padding: 70px 0;
}

@media (min-width: 768px) {
  .featureSummary {
    padding: 0;
  }
}

.featureSummary::after {
  content: "";
  position: absolute;
  right:0;bottom:0;left:0;
  height: 3px;
  background-color: rgba(30,39,50,0.7);
}

@media (min-width: 768px) {
  .featureSummary .column.left {
    display: flex;
    justify-content: right;
  }
}

.featureSummary .text {
  padding: 0 0 20px 0;
}

@media (min-width: 768px) {
  .featureSummary .text {
    max-width: 450px;
    padding: 125px 50px 125px 0;
  }
}

.featureSummary .elementOnScroll {
  opacity: 0;
}

.featureSummary .elementOnScroll.isVisible {
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

@media (min-width: 768px) {
  .featureSummary .column.right .elementOnScroll {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    transform: none;
  }
}

.featureSummary .column.right .elementOnScroll.isVisible {
  animation: fadeIn 500ms forwards;
  animation-delay: 1s;
}

.featureSummary .text h1 {
  margin-top: 0;
}

.featureSummary .backgroundImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .featureSummary .backgroundImage {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    height: auto;
  }
}

.direct {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 70px 0;
}

@media (min-width: 768px) {
  .direct {
    padding: 100px 0;
  }
}

.direct .elementOnScroll {
  opacity: 0;
}

.direct .isVisible {
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

.direct h1 {
  margin: 0 0 50px 0;
  text-align: center;
}

#content .container {
  max-width: 1000px;
}

#content .pageTitle {
  text-align: center;
  margin-top: 0;
  font-size: 28px;
}

@media (min-width: 768px) {
  #content .pageTitle {
    font-size: 36px;
  }
}

#content .textBackground {
  margin: 0 0 50px 0;
  padding: 15px;
  opacity: 0;
  background-color: var(--backgroundLightAccent);
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  animation: fadeIn 500ms forwards;
  animation-delay: 300ms;
  overflow: hidden;
}

@media (min-width: 768px) {
  #content .textBackground {
    padding: 15px 30px;
  }
}

#content .textArea {
  opacity: 0;
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
}

#content .textArea h2 {
  font-size: 18px;
}

#content .textArea h3:first-of-type {
  margin-top: 20px;
}

#content .textArea h2, #content .textArea h3 {
  color: var(--mainOrange);
  margin-top: 40px;
}

#content .textArea h4 {
  margin-bottom: 20px;
}

#content .textArea blockquote {
  border-left: 3px solid var(--backgroundDarkAccent);
  margin-left: 0;
  padding: 1px 0 1px 15px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 20px;
}

#content .textArea blockquote p {
  margin: 5px 0;
}

#content .textArea blockquote p::before {
  content: open-quote;
}

#content .textArea blockquote p::after {
  content: close-quote;
}

#content .textArea ul {
  margin: 10px 0 30px 0;
}

#content .textArea ul, #content .textArea ol {
  padding-left: 30px;
}

#content .textArea ul li, #content .textArea ol li {
  padding-left: 5px;
  margin-bottom: 5px;
}

#content .textArea pre {
  padding: 15px;
  background-color: var(--backgroundColor);
  border-radius: 5px;
  font-size: 14px;
  overflow-x: auto;
}
