@import url('fonts.css');

:root {
  --mainOrange: #eb802b;
  --backgroundColor: #0e1318;
  --backgroundAccent: #171e27;
  --backgroundLightAccent: #1e2732;
  --backgroundDarkAccent: #0d1014;
  --textColor: #dadada;
  --mainFont: "Open Sans", sans-serif;
  --titleFont: "Righteous", sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes svgStrokeAppear {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { stroke-dashoffset: 0; opacity: 1; }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--mainFont);
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--titleFont);
}

h2, h3, h4, h5, h6 {
  font-family: var(--mainFont);
}

h1 {
  color: var(--mainOrange);
  text-transform: uppercase;
}

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container.fullWidth {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }
}

.column {
  position: relative;
  flex: 1;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .column {
    padding: 0 30px;
  }
}

main {
  margin-top: 105px;
}

@media (min-width: 768px) {
  main {
    margin-top: 115px;
  }
}
